<h1> Hot Reads! </h1>
<p> Only displaying links read within the last 24 hours </p>

<table>
  <thead>
    <tr>
      <td>Rank</td>
      <td>URL</td>
      <td>Read Count</td>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
  <% @links.each do |url, count| %>
    <tr>
      <td> <%= i %> </td>
      <td> <%= url %> </td>
      <td> <%= count %> </td>
    </tr>
    <% i += 1 %>
  <% end %>
</tbody>
</table>
